# Production environment template
NODE_ENV=production
USE_HTTPS=true
PORT=8000
CHROMA_URL=http://X.X.X.X:9001
PROD_ENV_IP_ADDR="X.X.X.X"
DEV_ENV_IP_ADDR="X.X.X.X"
XAI_API_KEY=

# Paths to SSL certs on the server
CERT_KEY_PATH=
CERT_CERT_PATH=