# Local development template
NODE_ENV=development
USE_HTTPS=false
PORT=8000
PROD_ENV_IP_ADDR="X.X.X.X"
DEV_ENV_IP_ADDR="X.X.X.X"
CHROMA_URL=http://X.X.X.X:9001
XAI_API_KEY=

# Optional: local cert paths if you test HTTPS locally
# CERT_KEY_PATH=
# CERT_CERT_PATH=